# IDEs
.vscode/
.metals/
.Xil/
xsim.dir/
*.cache/
*.ip_user_files/
*.runs
*.sim
*.xpr
*.hw

# spyware
*webtalk*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Windows
$RECYCLE.BIN/
*.cab
*.msi
*.exe


# builds
*.o
*.bin
*.elf
target/
build/
design_output/
.svlint.toml

*.out

# logs
logs/
*.log
*.jou
*.pb
*.wdb
*.vcd
