# IDEs
.vscode/
.metals/
.Xil/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Windows
$RECYCLE.BIN/
*.cab
*.msi
*.exe


# builds
*.o
*.bin
*.elf
target/
build/
design_output/

*.out

# logs
*.log
*.jou
